In [1]:
import numpy as np 
import pandas as pd

In [2]:
#Dataset source: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
movies = pd.read_csv('tmdb_5000_movies.csv')
credits  =pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
#merging movies df with credits df on the basis of title
movies = movies.merge(credits,on='title')

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
#Removing unwanted columns
movies = movies[['movie_id' , 'title', 'overview' , 'genres' , 'keywords' , 'cast' , 'crew']]

In [7]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
movies.dropna(inplace = True)

In [9]:
[movies.isnull().sum()]

[movie_id    0
 title       0
 overview    0
 genres      0
 keywords    0
 cast        0
 crew        0
 dtype: int64]

In [10]:
movies.duplicated().sum()

0

In [11]:
#converting strings into objs using literal_eval
def helper(obj):
    L = []
    for i in ast.literal_eval(obj): 
        L.append(i['name'])
    return L

In [12]:
import ast #importing ast for using literal_eval

In [13]:
movies['genres'] = movies['genres'].apply(helper)

In [14]:
movies['keywords'] = movies['keywords'].apply(helper)

In [15]:
def helper_cast(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count = count + 1
        else:
            break
    return L

In [16]:
movies['cast'] = movies['cast'].apply(helper_cast)

In [17]:
def helper_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        i['job'] == 'Director'
        L.append(i['name'])
        break
    return L

In [18]:
movies['crew'] = movies['crew'].apply(helper_director)

In [19]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[Stephen E. Rivkin]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Dariusz Wolski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Thomas Newman]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Hans Zimmer]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [21]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" " , "") for i in x])

In [22]:
movies['tags'] =  movies['genres']

In [23]:
final_df = movies[['movie_id' , 'title' , 'tags']]

In [24]:
final_df

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]"
2,206647,Spectre,"[Action, Adventure, Crime]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]"
4,49529,John Carter,"[Action, Adventure, ScienceFiction]"
...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller]"
4805,72766,Newlyweds,"[Comedy, Romance]"
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie]"
4807,126186,Shanghai Calling,[]
4808,25975,My Date with Drew,[Documentary]

In [25]:
final_df['tags'] = final_df['tags'].apply(lambda x:" ".join(x))

C:\Users\ACER\AppData\Local\Temp/ipykernel_14420/2951742378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x:" ".join(x))

In [26]:
final_df

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action
2,206647,Spectre,Action Adventure Crime
3,49026,The Dark Knight Rises,Action Crime Drama Thriller
4,49529,John Carter,Action Adventure ScienceFiction
...,...,...,...
4804,9367,El Mariachi,Action Crime Thriller
4805,72766,Newlyweds,Comedy Romance
4806,231617,"Signed, Sealed, Delivered",Comedy Drama Romance TVMovie
4807,126186,Shanghai Calling,
4808,25975,My Date with Drew,Documentary

In [27]:
final_df['tags'] = final_df['tags'].apply(lambda x:x.lower())

C:\Users\ACER\AppData\Local\Temp/ipykernel_14420/2213019244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(lambda x:x.lower())

In [28]:
#vectorization using Bag of Words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [29]:
vectors = cv.fit_transform(final_df['tags']).toarray()

In [30]:
import nltk

In [31]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\acer\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\acer\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\acer\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\acer\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\acer\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [32]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [33]:
def stemmer(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [34]:
final_df['tags'] = final_df['tags'].apply(stemmer)

C:\Users\ACER\AppData\Local\Temp/ipykernel_14420/43991239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['tags'].apply(stemmer)

In [35]:
final_df

,movie_id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action
2,206647,Spectre,action adventur crime
3,49026,The Dark Knight Rises,action crime drama thriller
4,49529,John Carter,action adventur sciencefict
...,...,...,...
4804,9367,El Mariachi,action crime thriller
4805,72766,Newlyweds,comedi romanc
4806,231617,"Signed, Sealed, Delivered",comedi drama romanc tvmovi
4807,126186,Shanghai Calling,
4808,25975,My Date with Drew,documentari

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity = cosine_similarity(vectors)

In [38]:
similarity[0]

array([1.        , 0.8660254 , 0.57735027, ..., 0.        , 0.        ,
       0.        ])

In [39]:
def recommend(movie):
    movie_index = final_df[final_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse = True , key=lambda x:x[1])[1:9]
    
    for i in movies_list:
        print(final_df.iloc[i[0]].title)

In [40]:
recommend('Batman')

Spider-Man
Batman Returns
Elektra
Batman
Batman
Mortal Kombat
The Beastmaster
Ink

In [ ]:
import pickle

In [ ]:
pickle.dump(final_df.to_dict(),open('Interests.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('interestSimilarity.pkl','wb'))